*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}

h1{font-size: 3.5em;}

h2{font-size: 2.7em;}

h3{font-size: 2em;}

p{font-size: 1.25em;}

button:hover{
    background-color: rgb(44, 68, 221);
}

container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: white;
}

header .logo{
    margin-bottom: 1px;
    margin-top: 5px;
    padding: 30px, 30px;
    font-weight: bold;
    font-size: 1.6em;
}

header p{
    padding: 25px 25px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: left;
}

header nav{
    display: none;
}

/*header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
}*/

header a{
    padding: 5px 12px;
    text-decoration: none;
    color: black;
}

/* Oferta iFhone 13 */
#oferta-iFhone .container{
    text-align: left;
    padding: 20px 15px;
}

#oferta-iFhone .img-container{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("");
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 385px;
}

#oferta-iFhone .top-left{
    position: absolute;
    top: 140px;
    left: 35px;
    background: rgb(7,190,7);
    font-size: 15px;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 1em;
}

#oferta-iFhone .oferta{
    color: red;
    font-weight: bold;
    padding-top: 15px;
}

#oferta-iFhone .oferta p{
    text-align: left;
    padding-left: 0px;
}

#oferta-iFhone .texto p{
    text-align: left;
    padding-left: 0px;
}

#oferta-iFhone h2{
    padding-top: 0px;
    margin-top: 0;
}

#oferta-iFhone .comprar{
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

#oferta-iFhone .precio{
    display: flex;
    font-weight: bold;
    font-size: 2em;
    padding-right: 20px;
}

#oferta-iFhone .btn-comprar{
    display: flex;
    background:rgb(84, 146, 247);
    color: white;
    padding: 12px 12px;
    font-size: 1em;
    border-radius: 8px;
    border: 1px solid rgb(4, 80, 202);
}

#oferta-iFhone .servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#oferta-iFhone .servicios > div{
    flex: 1 1 150px;
    
}

#oferta-iFhone .servicios p{
    font-size: 1em;
    justify-content: center;
    align-items: center;
}


.opciones:first-child{
    padding-right: 20px 20px;
}

.opciones:nth-child(2){
    display:flex;
    align-items: center;
}

.opciones:nth-child(3){
    display: flex;
    align-items: center;
}


.img-opciones{
    width: 90px;
    padding: 10px 10px;
    float: left;
}

/* Accesorios recomendados */
#accesorios-recomendados .container{
    text-align: center;
    padding: 10px, 0px;
}

.accesorios{
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 6px;
    text-align: left;
}

#accesorios-recomendados h2,h3,p{
    text-align: left;
    padding-left: 20px;
}

#accesorios-recomendados h3{
    padding-bottom: 0px;
    padding-left: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}
#accesorios-recomendados .img-accesorio{
    padding: 20px 20px;
    width: 375px;
}


#accesorios-recomendados .btn-oferta{
    display: flex;
    justify-content: center;
    width: 15%;
    background:red;
    color: white;
    padding: 10px 10px;
    font-size: 1em;
    border-radius: 6px;
    border: 1px solid red;
    margin-left: 30px;
}

#accesorios-recomendados .btn-nuevo{
    display: flex;
    justify-content: center;
    width: 15%;
    background:blue;
    color: white;
    padding: 9px 5px;
    font-size: 1em;
    border-radius: 6px;
    border: 1px solid blue;
    margin-left: 30px;
}
/* Sorteo */

#sorteo .container {
    border: 1px solid rgb(194, 217, 253);
    background: rgb(194, 217, 253);
    margin: 20px;
    padding: 20px;
    text-align: left;
}

#sorteo h1, p{
    text-align: left;
    padding-left: 30px;
}
#sorteo .formulario{
    display:flex;
    height: 100%;
}

#sorteo .form {
    padding: 10px;
    margin: 10px;
    width: 100%;
}

#sorteo .container-form {
    height: 20%;
    margin: 10px 10px;
    padding: 10px 10px;

  }

#sorteo .label {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 100px;
    line-height: 26px;
    padding: 10px 10px;
    margin: 5px 5px;
}

#sorteo .input{
    display: flex;
    text-align: left;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex: 0 0 100px;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    background: white;
    padding: 10px 10px;
    margin: 5px 5px;

    /*
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 30px 20px;
    background: white;
    */
}

#sorteo .btn-enviar{
    display: flex;
    padding: 15px 15px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 5px;
}




/* Footer */
footer{
    background-color: white;
}

footer p{
    font-weight: bold;
    margin: 0;
    padding: 12px;
}

footer .container{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/* responsive part*/
@media(min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-right: 30px;
    }
    #oferta-iFhone .container{
        display: flex;
        justify-content: space-evenly;
    }

    #oferta-iFhone .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #oferta-iFhone .h2{
        margin-top: 0px;
    }

    #oferta-iFhone .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
    }
    #accesorios-recomendados .accesorios{
        display: flex;
        justify-content: center;
    }

    #accesorios-recomendados p{
        display: block;
        margin-bottom: 30px;
    }

    #accesorios-recomendados h3{
        margin-top: 0px;
    }

    #accesorios-recomendados .servicios{
        padding: 50px;

    }
}
